<main>
  <menu>
    <a class="menu-link" [routerLink]="[APP_ROUTES.BUILTIN_DIRECTIVES]" routerLinkActive="menu-link-active">BUILT-IN</a>
    <a class="menu-link" [routerLink]="[APP_ROUTES.ATTRIBUTE_DIRECTIVES]" routerLinkActive="menu-link-active"
      >ATTRIBUTE</a
    >
    <a class="menu-link" [routerLink]="[APP_ROUTES.STRUCTURAL_DIRECTIVES]" routerLinkActive="menu-link-active"
      >STRUCTURAL</a
    >
    <a class="menu-link" [routerLink]="[APP_ROUTES.CONFIG_DIRECTIVES]" routerLinkActive="menu-link-active">CONFIG</a>
    <a class="menu-link" [routerLink]="[APP_ROUTES.DIRECTIVE_COMPOSITION]" routerLinkActive="menu-link-active">
      COMPOSITION
    </a>
  </menu>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</main>
